/*header*/
#header .navbar-header{
    background: #000;
}
#header .navbar-nav a{
   
    text-align: center;
}
/*#foot*/
/*foot*/
#foot{
    clear: both;
    width: 10rem;
    height: 1.7rem;
    background: #000;
    margin-top: -5rem;
}
#foot ul{
    margin-left: 1.5rem;
}
#foot ul li{
    list-style: none;
    float: left;
    color: aliceblue;
    line-height: 1.7rem;
}
#foot ul li a{
    color: aliceblue;
    text-decoration: none;
}